<head>
  <title>Fenrir</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="#{Rails.root.to_s}/app/assets/javascripts/jquery.fixedheadertable.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<table id="myTable01">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scroll_tests.each do |scroll_test| %>
      <tr>
        <td><%= scroll_test.title %></td>
        <td><%= scroll_test.author %></td>
        <td><%= scroll_test.body %></td>
        <td><%= link_to 'Show', scroll_test %></td>
        <td><%= link_to 'Edit', edit_scroll_test_path(scroll_test) %></td>
        <td><%= link_to 'Destroy', scroll_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Scroll test', new_scroll_test_path %>
<%= paginate @scroll_tests %>