<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Fenrir" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "defaultTheme" %>
    <%= stylesheet_link_tag    "jquery.dataTables"%>
    <%= stylesheet_link_tag    "shCore"%>
    <%= stylesheet_link_tag    "demo"%>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "jquery"%>
    <%= javascript_include_tag "jquery.dataTables"%>
    <%= javascript_include_tag "shCore"%>
    <%= javascript_include_tag "demo"%>
    <%= csrf_meta_tags %>

    <!--<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">-->
    </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>